.App {

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body, html { 
  font-family: Helvetica, sans-serif !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
button{
  padding: 10px;
  background: whitesmoke;
  border: #282c34;
  margin: 4px;

}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.controls-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
  background-color: rgba(206, 206, 206, 0.5); /* Transparent black background */
  border-radius: 10px; /* Rounded corners */
  position: absolute;
  top: 165px; /* Move it down from the top of the webcam screen */
  left: 50%;
  transform: translateX(-50%); /* Center the bar horizontally */
  z-index: 1000; /* Ensure it's on top of the webcam */
}

.controls-bar button {
  background-color: rgb(5, 60, 212);
  border: none;
  padding: 10px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  cursor: pointer;
}

.controls-bar button img {
  width: 25px;
  height: 25px;
}


@media (max-width: 1300px) {
  .controls-bar {
      transform: translateX(0); /* Ensure no translation for smaller screens */
      gap: 20px; /* Reduce the gap between buttons for better alignment */
      justify-content: space-between; /* Allow space between buttons */
  }

  .controls-bar button {
      font-size: 14px; /* Make text slightly smaller */
      padding: 10px 15px; /* Reduce padding for smaller screens */
  }
}

